# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
composer
logs/
mysql/
www/
redis
!/config/nginx/conf.d/laravel.conf
/config/nginx/conf.d/*
/config/nginx/.DS_Store
/.DS_Store
