version: "3"
services:
  php72:
    build:
      context: .
      args:
        PHP_VERSION: 7.2
    container_name: php72
    restart: always
    working_dir: /var/www
    volumes:
      - ~/.ssh:/root/.ssh/
      - ${WEB_ROOT}:/var/www:cached
      - ${COMPOSER}/php72:/root/.composer/
      - ${PHP72_INI}:/usr/local/etc/php/php.ini
    environment:
      TZ: "$TZ"
      WEB_ENV: "local" # 信用飞项目使用
    ports: # hexo 需要 4000 端口
      - 4000:4000
    extra_hosts:
      - fund-api.test:172.20.128.2
      - xyf-pay-system.test:172.20.128.2
      - shoufuyou-pay-gateway.test:172.20.128.2
      - xyf-middleground-system.test:172.20.128.2
    networks:
      static-network:

  #  php73:
  #    build:
  #      context: .
  #      args:
  #        PHP_VERSION: 7.3
  #    container_name: php73
  #    restart: always
  #    working_dir: /var/www
  #    volumes:
  #      - ${WEB_ROOT}:/var/www
  #      - ${COMPOSER}/php73:/root/.composer/
  #      - ${PHP73_INI}:/usr/local/etc/php/php.ini
  #    environment:
  #      TZ: "$TZ"
  #    ports:
  #    - 9501:9501
  #    networks:
  #      static-network:

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    volumes:
      - ${WEB_ROOT}:/var/www:cached # 需要和 php 的目录一致
      - ${NGINX_CONF}:/etc/nginx/conf.d  # nginx 配置
      - ${LOG}/nginx:/var/log/nginx/  # nginx 日志
    ports:
      - ${NGINX_PORT}:80
    environment:
      TZ: "$TZ"
    networks:
      static-network:
        ipv4_address: 172.20.128.2

  mysql:
    image: mysql:${MYSQL_VERSION}
    container_name: mysql
    volumes:
      - ${MYSQL_DATA}:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      TZ: "$TZ"
    ports:
      - ${MYSQL_PORT}:3306
    networks:
      static-network:

  redis:
    image: redis:${REDIS_VERSION}
    container_name: redis
    restart: always
    volumes:
      - ${REDIS_DATA}:/data
      - ${REDIS_CONF}:/usr/local/etc/redis/redis.conf
    ports:
      - ${REDIS_PORT}:6379
    command: [ redis-server, "/usr/local/etc/redis/redis.conf" ]
    networks:
      static-network:

networks:
  static-network:
    ipam:
      config:
        - subnet: 172.20.0.0/16